Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.7
Flask-WTF==0.14.2
gunicorn==19.9.0
insight-api==0.5
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.0
twilio==6.24.0
unicodecsv==0.14.1
urllib3==1.26.5
virtualenv==16.2.0
webencodings==0.5.1
Werkzeug==0.15.3
WTForms==2.2.1
wurlitzer==1.0.2

