h1, h2, h3, h4, p {
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    font-weight: 500
  }
  .selector-for-some-widget {
    box-sizing: content-box;
  }
  .carousel-item {
    height: 800px;
    min-height: 800px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }