<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
    <title>NASA InSight API Raw Images Gallery</title>

</head>
<body> 
        <div class="container">
            <div class="header clearfix">
                <h1>NASA InSight Raw Images</h1>
            </div>
        
            <div class="jumbotron">
                <img class="images" src="{{ images }}"/>
            </div>
        </div>
    </body>
</html>