<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="NASA Mars InSight API for raw images and SMS updates">
      <meta name="author" content="Mariam Joan">
      <meta name=”robots” content="index, follow">

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167456906-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-167456906-2');
    </script>


    <title>NASA Mars InSight API Raw Images</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="static/css/half-slider.css" rel="stylesheet">
    <link rel="icon" href="static/css/favicon.ico" media="screen"> -->

    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/half-slider.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" media="screen">
    
      </head>
  <body> 

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">NASA Mars InSight API</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('create_app') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>


    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/idc/D000M0004_596887518EDR_F0000_0545M_.PNG')">
            <div class="carousel-caption d-md-block">
            
              <p>November 28, 2018</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/icc/C000M0004_596886276EDR_F0000_0463M_.PNG')">
            <div class="carousel-caption d-md-block">
              
              <p>December 01, 2018</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/idc/D000M0004_596886723EDR_F0000_0540M_.PNG')">
            <div class="carousel-caption d-md-block">
             
              <p>November 27, 2018</p>
              <!-- <caption>"NASA's InSight Mars lander acquired this image of the area in front of the lander using its lander-mounted, Instrument Context Camera (ICC).<br /><br />This image was acquired on November 26, 2018, Sol 0 of the InSight mission where the local mean solar time for the image exposures was 13:59:31 PM. Each ICC image has a field of view of 124 x 124 degrees."</caption> -->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
         
          <form action="{{ url_for('images') }}" method="GET" >  
            <h1>NASA InSight Raw Image and Metadata</h1>   
            {% raw %}
              <button type="submit" class="btn btn-outline-primary" ng-disabled="loading">Click to View Recent Images</button>
            {% endraw %}
          </form>

            <br>
            <br>
            <br>

          <!-- <form class="form-inline" action="/email" method="POST" >
            <div class="form-group mb-2">
              <label for="input" class="col-sm-2">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" placeholder="Email" style="max-width: 200px;" autofocus>
              </div>
            </div>
            {% raw %}
            <button type="submit" class="btn btn-outline-primary" ng-disabled="loading">Submit</button>
          {% endraw %}
          </form> -->

          <form class="form-inline" action="/sms" method="POST" >
            <div class="form-group mb-2">
              <label for="input" class="col-sm-2 ">Phone</label>
                <div class="col-sm-10">
                <input type="phone" class="form-control" name="phone" placeholder="Phone" style="max-width: 185px;" autofocus>
              </div>
            </div>
            {% raw %}
            <button type="submit" class="btn btn-outline-primary" ng-disabled="loading">Submit</button>
            {% endraw %}
          </form>

          <p>Enter your phone to get notifications on when new images have been posted!</p>
          <br>
          <br>

          <p> We will be awaiting the Perseverance landing on February 18, 2021 and plan to provide NASA images for both Mars Exploration Rovers! </p>
          <p> Check back soon for more details! </p>
      </div>
    </section>

    <!-- Footer -->
     <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
            Be sure to check out NASA's Mars InSight page <code>https://mars.nasa.gov/insight/</code> here for great educational resources for the family! <br>
            Copyright &copy; 2019 NASA images from InSight API Py Library from Konrad Iturbe. <br>
            The index.html file is a Bootstrap template released under the MIT license from Copyright &copy; 2013-2018 Blackrock Digital LLC.  <br>
            This project was created for Python Programming UCLA COMSCI X418.104B Winter 2019. <br>
            Please find my Github <code>https://github.com/mjoan/nasa-insight</code> here. <br>

        </p>
      </div>
     </footer>

    <!-- Bootstrap core JavaScript -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


  </body>
</html>