<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

    <title>NASA InSight API</title>

    <!-- Bootstrap core CSS -->
      <link href=" {{ url_for('static',filename=static/css/bootstrap.min.css) }}" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link rel="icon" href="{{ url_for('static',filename=static/css/static/favicon.ico) }}" media="screen">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
      </head>
  <body> 

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">NASA Mars InSight API</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('create_app') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>


    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/idc/D000M0004_596887518EDR_F0000_0545M_.PNG')">
            <div class="carousel-caption d-md-block">
            
              <p>November 28, 2018</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/icc/C000M0004_596886276EDR_F0000_0463M_.PNG')">
            <div class="carousel-caption d-md-block">
              
              <p>December 01, 2018</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/idc/D000M0004_596886723EDR_F0000_0540M_.PNG')">
            <div class="carousel-caption d-md-block">
             
              <p>November 27, 2018</p>
              <!-- <caption>"NASA's InSight Mars lander acquired this image of the area in front of the lander using its lander-mounted, Instrument Context Camera (ICC).<br /><br />This image was acquired on November 26, 2018, Sol 0 of the InSight mission where the local mean solar time for the image exposures was 13:59:31 PM. Each ICC image has a field of view of 124 x 124 degrees."</caption> -->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
         
          <form action="{{ url_for('images') }}" method="GET" >  
            <h1>NASA InSight Raw Image and Metadata</h1>   
            {% raw %}
              <button type="submit" class="btn btn-primary" ng-disabled="loading">Click to Request Recent Images</button>
            {% endraw %}
          </form>

            <br>
            <br>
            <br>

          <form action="{{ notifications }}" method="POST" >
            <!-- <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email-input" placeholder="Email" style="max-width: 300px;" autofocus>
              </div>
            </div> -->

            <div class="form-group row">
              <label for="tel-input" class="col-2 col-form-label">Phone</label>
              <div class="col-10">
                <input class="form-control" type="tel" name="phone" id="tel-input" style="max-width: 300px;" autofocus>
              </div>
            </div>
            <p>Enter your phone to get notifications on when new images have been posted!</p>
          
          {% raw %}
            <button type="submit" class="btn btn-primary" ng-disabled="loading">Submit</button>
          {% endraw %}
          </form>

          <br>
          <br>
        <p>This project was created for Python Programming COMSCI X418.104B Winter 2019. Please find my Github <code>https://github.com/mjoan/nasa-insight</code>here.</p>
      </div>
    </section>

    <!-- Footer -->
     <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2019 Mariam Joan.
          <br>The index.html file is a Bootstrap template released under the MIT license from Copyright &copy; 2013-2018 Blackrock Digital LLC.
          </p>
      </div>
     </footer>

    <!-- Bootstrap core JavaScript -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


  </body>
</html>