{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block head %}
  <head>
    {% block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}

    {% block title %}<title>NASA InSight API</title>{% endblock %}

    <!-- Custom styles for this template -->
    {% block styles %}
      {{super()}}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/half-slider.css') }}" media="screen">
      <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" media="screen">
    {% endblock %}
  
  </head>
  {% endblock %}

  {% block body %}
  <body> 
    <!-- Navigation -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">NASA Mars InSight Images</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('create_app') }}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    {% endblock %}

    {% block content %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/idc/D000M0004_596887518EDR_F0000_0545M_.PNG')">
            <div class="carousel-caption d-none d-md-block">
              <h4>Mars InSight Photo</h4>
              <p>November 2018</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0000/icc/C000M0000_596533559EDR_F0000_0106M_.PNG')">
            <div class="carousel-caption d-none d-md-block">
              <h4>Mars InSight Photo</h4>
              <p>November 2018</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://mars.nasa.gov/insight-raw-images/surface/sol/0004/idc/D000M0004_596886723EDR_F0000_0540M_.PNG')">
            <div class="carousel-caption d-none d-md-block">
              <h4>Mars InSight Photo </h4>
              <p>November 2018</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1>NASA InSight Metadata</h1>
        <h2>Enter Month and Year</h2>

        {% if request.args.get('legacy') -%}
          {{wtf.quick_form(form, novalidate=True)}}
        {%- else -%}
          {{form|render_form()}}
            <form action="" method="POST">
              <input title="month" placeholder="month" type="text"></input>  
              <input title="year" placeholder="year" type="text"></input>  
            <br>
            <p>Enter your email or phone to get notifications on when new images have been posted!</p>
              <input title="email" placeholder="email" type="email" name="email_name"></input>
              <input type="text" class="input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd"> 
            <button type="submit">Submit</button>
          </form>
        {%- endif %}

        <p>This project was created for Python Programming COM418 Winter 2019. Please find my Github
          <code>https://github.com/mjoan</code>
           here.</p>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2019 Mariam Joan. 
          The index.html file is a Bootstrap template released under 
          the MIT license from Copyright &copy; 2013-2018 Blackrock Digital LLC.
        </p>
      </div>
      <!-- /.container -->
    </footer>
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    {% block scripts %}
      {{ super() }}
        <script src="{{ url_for('static', filename='/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/css/bootstrap.min.js') }}"></script>
    {% endblock %}



  </body>
  {% endblock %}